.addMemberTable{
    overflow-y: scroll;
    height: 200px;
    width: 100%;
}

.error{
    color: red;
}

.cursor-pointer {
    cursor: pointer;
}

.updateGroup {
    cursor: pointer;
}

.deleteGroup{
    cursor: pointer;
}
